body{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

:root{
  --main-color : rgb(5, 118, 184);
}

.barra-navegacion{
  background-color: var(--main-color);
}

/* .nav-link{
  color: white !important;
} */

.buscador-label{
  color : var(--main-color);
}

.ocultar{
  display: none;
}